*{
    padding: 0px;
margin: 0px;
}
.contianer{
    height: 1100px;
    width:100%;
    margin-right: auto;
margin-left: auto;

}
.box1{
    height:900px;
    width:100px;
    background-color:white;
    overflow: hidden;
}
.box2{
    height: px;
    width: px;
    background-color: brown;
}
.box3{
    height: px;
    width: px;
    background-color: aqua;
}
.box4{
    height:600px;
    width:100px;
    background-color: chartreuse;
}
.box4{
    height: px;
    width: px;
    background-color: seagreen
}
